<div class="container">
  <ul class="post-list">
    {{post-tile
      post=model
      onUpdate=(action "updatePost")
      onDelete=(action "deletePost")
    }}
  </ul>
</div>
<!-- onUpdate=(action "updatePost")
onDelete=(action "deletePost") -->
{{outlet}}
