<div class="container">
  <ul class="post-list">
    {{#link-to "posts"}}
      <button> Back </button>
    {{/link-to}}
    {{post-tile
      post=model
      onUpdate=(action "updatePost")
      onDelete=(action "deletePost")
      onFileLoad=(action "fileLoad")
    }}
  </ul>
</div>
{{outlet}}
